importFrom("nlme", fixef, ranef)
importFrom("graphics", plot)
importFrom("stats",
           coef,
           confint,
           vcov
           )

exportClasses("ipdlme")

export(
"ipd.sep",
"Qt",
"ipdlme"
)

exportMethods(
              "print",
              "show",
              "fixef",
              "ranef",
              "sigma2",
              "Var",
              "VcovFixef",
              "VcovRanef",
              "convergence",
              "converged",
              "n.iter",
              "MaxIter",
              "tol",
              "coef",
              "vcov",
              "summary",
              "confint",
              "plot"
              )
